/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --bg: #0f172a;
  --card: #1e293b;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --text: #e2e8f0;
  --text-muted: #94a3b8;
  --error: #ef4444;
}

/* BODY */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

/* CONTAINER */
div {
  max-width: 900px;
  margin: 0 auto;
}

/* TÍTULOS */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

/* CARD */
.card {
  background: var(--card);
  min-width: 70%;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* TEXTO */
p {
  margin-bottom: 8px;
  color: var(--text-muted);
}

/* BOTÃO */
button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: var(--primary-hover);
}

/* LOADING */
.loading {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}

/* ERROR */
.error {
  color: var(--error);
  text-align: center;
  padding: 20px;
}

/* LISTA */
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}